<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%-include('cdn.ejs')%>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h1>User Data</h1>
    <hr />

    <table cellpadding="10" cellspacing="0">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Employee Email</th>
          <th>Employee Password</th>
          <th>Employee Mobile</th>
          <th>Employee Salary</th>
          <th>Employee Role</th>
          <th>Employee DOB</th>
          <th>Upadte</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% employees.map((user, index) => { %>
        <tr>
          <td><%= user.empName %></td>
          <td><%= user.empEmail %></td>
          <td><%= user.empPassword %></td>
          <td><%= user.empMobile %></td>
          <td><%= user.empSalary %></td>
          <td><%= user.empRole %></td>
          <td><%- new Date(user.empDOB).toLocaleDateString()%></td>
          <td>
            <a href="/edit/<%-user.empId%>"
              ><i class="fa fa-edit" style="color: green; font-weight: bold"></i
            ></a>
          </td>
          <td onclick="return confirm('Are you sure..!')">
            <a href="/delete/<%-user.empId%>"
              ><i class="fa fa-trash" style="font-weight: bold; color: red"></i
            ></a>
          </td>
        </tr>
        <% }) %>
      </tbody>

      <%if(employees.length==0){ %>
      <tr>
        <td colspan="7" style="text-align: center">No Record Found</td>
      </tr>
      <%}%>
    </table>
  </body>
</html>
