<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <%- include("navbar.ejs") %>
</head>

<body>
  <div class="container mt-5">
    <h3 class="mb-4">Job Application Details</h3>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Role</th>
            <th scope="col">Vacancy</th>
            <th scope="col">Offer CTC (LPA)</th>
            <th scope="col">Skills</th>
            <th scope="col">Experience (Years)</th>
            <th scope="col">Address</th>
            <th scope="col">Interview Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%- data.email %></td>
            <td><%- data.mobile %></td>
            <td><%- data.role %></td>
            <td><%- data.vacancy %></td>
            <td><%- data.ctc %></td>
            <td><%- data.skills %></td>
            <td><%- data.experience %></td>
            <td><%- data.address %></td>
            <td><%- data.interviewDate %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
